.venv-disabled
.DS_Store
__pycache__*
debug/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.log
*.json
*.yml
*.yaml
*__pycache__*
*.py[cod]
*$py.class
.env
*.so
user_instruction_history
*.bak
*.patched
*.egg-info/
build/
.context/
autopilot/version.py
external/terminal-bench
external/swe-bench
external/locomo
external/swebench-fork
external/swebench-verified
external/swegym
external/swegym-old
*log*
*result*
*venv*
*session*
*cache*
!external/reload-config/*.yml
!docs/_static/imgs/*
docs/_build
*rl_runs*
*.parquet
!.github/**/*.yaml