openai
rich
prompt_toolkit
absl-py
pyyaml
typer
typing_extensions
docker
prettytable
omegaconf
wheel
yq
setuptools
textual
gitpython
tiktoken
ruff==0.12.11
gradio==5.46.0
pyzmq
gradio-autopilot-chatbot>=0.0.5
pymongo
swebench==4.1.0
plotly==6.3.0
paramiko==4.0.0
mistral_common==1.8.5
